%h3.page-title
  = t('general.issues')
  %span.pull-right= t('.nro_issues', count: @issues.total_count)

%p.light
  = t('.list_all_issues_from_all_projects')
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
