%h3.page-title
  = t('general.merge_requests')
  %span.pull-right= t('.merge_requests_total_count', count: @merge_requests.total_count)


%p.light
  = t('.list_all_merge_requests_from_projects')
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
