%h3.page-title
  = t('.my_appearance_settings')
%p.light
  = t('.appearance_settings_saved_to_your_profile')
%hr

= form_for @user, url: profile_path, remote: true, method: :put do |f|
  %fieldset.application-theme
    %legend
      = t('.application_theme')
    .themes_opts
      = label_tag do
        .prev.default
        = f.radio_button :theme_id, 1
        = t('.default')

      = label_tag do
        .prev.classic
        = f.radio_button :theme_id, 2
        = t('.classic')

      = label_tag do
        .prev.modern
        = f.radio_button :theme_id, 3
        = t('.modern')

      = label_tag do
        .prev.gray
        = f.radio_button :theme_id, 4
        = t('.gray')

      = label_tag do
        .prev.violet
        = f.radio_button :theme_id, 5
        = t('.violet')
    %br
    .clearfix

  %fieldset.code-preview-theme
    %legend
      = t('.code_preview_theme')
    .code_highlight_opts
      - color_schemes.each do |color_scheme_id, color_scheme|
        = label_tag do
          .prev
            = image_tag "#{color_scheme}-scheme-preview.png"
          = f.radio_button :color_scheme_id, color_scheme_id
          = t(color_scheme.underscore, scope: 'profiles.design')
