%h3.page-title
  = t('.profile_settings')
%p.light
  = t('.this_information_appears_on_your_profile')
  - if current_user.ldap_user?
    = t('.some_option_are_unavailable_for_ldap')
%hr



= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, User.human_attribute_name('name'), class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block= t('.enter_your_name')

      .form-group
        = f.label :email, User.human_attribute_name('email'), class: "control-label"
        .col-sm-10
          - if @user.ldap_user?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              = t('.email_is_read_only_for_ldap')
          - else
            = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                = t('.we_sent_confirmation_email_to')
                %strong #{@user.unconfirmed_email}
            - else
              %span.help-block= t('.we_also_use_email_for_avatar')
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, User.human_attribute_name('website_url'), class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :bio, User.human_attribute_name('bio'), class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 6, class: "form-control", maxlength: 250
          %span.help-block= t('.tell_us_about_yourself')

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user.email, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                = t('.you_can_change_your_avatar_here')
                %br
                = raw t('.or_remove_the_current_avatar', link: link_to("gravatar.com", "http://gravatar.com"))
              - else
                = t('.you_can_upload_an_avatar_here')
                %br
                = raw t('.or_change_it_at', link: link_to("gravatar.com", "http://gravatar.com"))
            %hr
            %a.choose-btn.btn.btn-small.js-choose-user-avatar-button
              %i.icon-paper-clip
              %span= t('.choose_file')
            &nbsp;
            %span.file_name.js-avatar-filename= t('.file_name')
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light= t('.the_maximum_file_size')
            - if @user.avatar?
              %hr
              = link_to t('.remove_avatar'), profile_avatar_path, data: { confirm: t('.avatar_will_be_removed')}, method: :delete, class: "btn btn-remove btn-small remove-avatar"

  .form-actions
    = f.submit t('general.save_changes'), class: "btn btn-save"
