.login-box
  %h3.page-title= t('.resend_confirmation_instructions')
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .devise-errors
      = devise_error_messages!
    .clearfix.append-bottom-20
      = f.email_field :email, placeholder: t('general.email'), class: "form-control", required: true
    .clearfix.append-bottom-10
      = f.submit t('.resend_confirmation_instructions'), class: 'btn btn-success'
  %hr
  %p
    %span.light
      = t('already_have_login_and_password', scope: 'devise.passwords.new')
    %strong
      = link_to t('sign_in', scope: 'devise.passwords.new'), new_session_path(resource_name)
