.file-holder
  .file-title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      .btn-group.tree-btn-group.pull-right
        - if @snippet.author == current_user
          = link_to t('general.edit'), edit_snippet_path(@snippet), class: "btn btn-tiny", title: t('.edit_snippet')
          = link_to t('general.delete'), snippet_path(@snippet), method: :delete, data: { confirm: t('general.are_you_sure') }, class: "btn btn-tiny", title: t('.delete_snippet')
        = link_to t('general.raw'), raw_snippet_path(@snippet), class: "btn btn-tiny", target: "_blank"
  = render 'snippets/blob_content'
