%h3.page-title
  = t('.public_snippets')

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: t('new_snippet', scope: 'snippets.form') do
      = t('.add_new_snippet')
    = link_to user_snippets_path(current_user), class: "btn btn-grouped"  do
      = t('my_snippets', scope: 'layouts.head_panel')

%p.light
  = t('.public_snippets_created_by_you')

%hr
= render 'snippets'

