%h3.page-title
  = t('.admin_area')
%p.light
  = t('.you_can_manage_projects')
%hr
.admin-dashboard
  .row
    .col-sm-4
      .light-well
        %h4= t('projects', scope: 'public.projects.index')
        .data
          = link_to admin_projects_path do
            %h1= Project.count
          %hr
          = link_to t('new_project', scope: 'layouts.head_panel').titleize, new_project_path, class: "btn btn-new"
    .col-sm-4
      .light-well
        %h4= t('.users')
        .data
          = link_to admin_users_path do
            %h1= User.count
          %hr
          = link_to t('.new_user').titleize, new_admin_user_path, class: "btn btn-new"
    .col-sm-4
      .light-well
        %h4= t('.groups')
        .data
          = link_to admin_groups_path do
            %h1= Group.count
          %hr
          = link_to t('.new_group').titleize, new_admin_group_path, class: "btn btn-new"

  .row.prepend-top-10
    .col-md-4
      %h4= t('.latest_projects')
      %hr
      - @projects.each do |project|
        %p
          = link_to project.name_with_namespace, [:admin, project], class: 'str-truncated'
          %span.light.pull-right
            #{time_ago_with_tooltip(project.created_at)}

    .col-md-4
      %h4= t('.latest_users')
      %hr
      - @users.each do |user|
        %p
          = link_to [:admin, user], class: 'str-truncated' do
            = user.name
          %span.light.pull-right
            #{time_ago_with_tooltip(user.created_at)}

    .col-md-4
      %h4= t('.latest_groups')
      %hr
      - @groups.each do |group|
        %p
          = link_to [:admin, group], class: 'str-truncated' do
            = group.name
          %span.light.pull-right
            #{time_ago_with_tooltip(group.created_at)}

  %br
  .row
    .col-md-4
      %h4= t('.stats')
      %hr
      %p
        = t('.forks')
        %span.light.pull-right
          = ForkedProjectLink.count
      %p
        = t('.issues')
        %span.light.pull-right
          = Issue.count
      %p
        = t('.merge_requests')
        %span.light.pull-right
          = MergeRequest.count
      %p
        = t('.notes')
        %span.light.pull-right
          = Note.count
      %p
        = t('general.snippets')
        %span.light.pull-right
          = Snippet.count
      %p
        = t('.ssh_keys')
        %span.light.pull-right
          = Key.count
      %p
        = t('.milestones')
        %span.light.pull-right
          = Milestone.count
    .col-md-4
      %h4
        = t('.features')
      %hr
      %p
        = t('.sign_up')
        %span.light.pull-right
          = boolean_to_icon gitlab_config.signup_enabled
      %p
        LDAP
        %span.light.pull-right
          = boolean_to_icon Gitlab.config.ldap.enabled
      %p
        Gravatar
        %span.light.pull-right
          = boolean_to_icon Gitlab.config.gravatar.enabled
      %p
        OmniAuth
        %span.light.pull-right
          = boolean_to_icon Gitlab.config.omniauth.enabled
    .col-md-4
      %h4
        = t('.components')
      %hr
      %p
        GitLab
        %span.pull-right
          = Gitlab::VERSION
      %p
        GitLab Shell
        %span.pull-right
          = Gitlab::Shell.new.version
      %p
        GitLab API
        %span.pull-right
          = API::API::version
      %p
        Ruby
        %span.pull-right
          #{RUBY_VERSION}p#{RUBY_PATCHLEVEL}

      %p
        Rails
        %span.pull-right
          #{Rails::VERSION::STRING}
