%ul
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "Stats" do
      %i.icon-home
  = nav_link(controller: :projects) do
    = link_to t('projects', scope: 'public.projects.index'), admin_projects_path
  = nav_link(controller: :groups) do
    = link_to t('groups', scope: 'admin.dashboard.index'), admin_groups_path
  = nav_link(controller: :users) do
    = link_to t('users', scope: 'admin.dashboard.index'), admin_users_path
  = nav_link(controller: :logs) do
    = link_to t('logs', scope: 'admin.dashboard.index'), admin_logs_path
  = nav_link(controller: :broadcast_messages) do
    = link_to t('messages', scope: 'admin.dashboard.index'), admin_broadcast_messages_path
  = nav_link(controller: :hooks) do
    = link_to t('hooks', scope: 'admin.dashboard.index'), admin_hooks_path
  = nav_link(controller: :background_jobs) do
    = link_to t('background_jobs', scope: 'admin.dashboard.index'), admin_background_jobs_path

