%h3.page-title
  = t('.my_ssh_keys')
  .pull-right
    = link_to t('.add_ssh_key'), new_profile_key_path, class: "btn btn-new"
%p.light
  = t('.ssh_keys_allow_you_to_establish_secure_connection')
  %br
  = raw t('.before_you_can_add_an_ssh_you_need_generate', generate: link_to(t('.generate_it'), help_ssh_path))
%hr


.ui-box
  .title
    #{t('ssh_keys', scope: 'layouts.nav.profile')} (#{@keys.count})
  %ul.well-list#keys-table
    = render @keys
    - if @keys.blank?
      %li
        .nothing-here-block= t('.there_are_no_ssh_keys')


