%h3.page-title= t('password', scope: 'devise.sessions.new_base')
%p.light
  = t('.change_your_password_or_recover')
%hr
.update-password
  = form_for @user, url: profile_password_path, method: :put, html: { class: 'form-horizontal' }  do |f|
    %div
      %p.slead
        = t('.you_must_provide_current_password')
        %br
        = t('.after_a_successful_password_update')
      -if @user.errors.any?
        .alert.alert-danger
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :current_password, t('.current_password'), class: 'control-label'
        .col-sm-10
          = f.password_field :current_password, required: true, class: 'form-control'
          %div
            = link_to t('.forgot_your_password'), reset_profile_password_path, method: :put

      .form-group
        = f.label :password, t('.new_password'), class: 'control-label'
        .col-sm-10
          = f.password_field :password, required: true, class: 'form-control'
      .form-group
        = f.label :password_confirmation, User.human_attribute_name('password_confirmation'), class: 'control-label'
        .col-sm-10
          = f.password_field :password_confirmation, required: true, class: 'form-control'
      .form-actions
        = f.submit t('.save_password'), class: "btn btn-save"
