%h3.page-title
  = t('general.merge_requests')
  %span.pull-right= t('merge_requests_total_count', scope: 'dashboard.merge_requests', count: @merge_requests.total_count)

%p.light
  = raw t('.only_merge_requests_from_group_are_listed_here', group: @group.name)
  - if current_user
    = raw t('.to_see_all_merge_requests_you_visit', link: link_to( t('dashboard', scope: 'layouts.head_panel').downcase, issues_dashboard_path))
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
