= form_for @group, html: { class: 'group-form form-horizontal' } do |f|
  - if @group.errors.any?
    .alert.alert-danger
      %span= @group.errors.full_messages.first
  .form-group
    = f.label :name, class: 'control-label' do
      = Group.human_attribute_name('group_name')
    .col-sm-10
      = f.text_field :name, placeholder: t('.ex_opensource'), class: "form-control"

  .form-group.group-description-holder
    = f.label :description, Group.human_attribute_name('details'), class: 'control-label'
    .col-sm-10
      = f.text_area :description, maxlength: 250, class: "form-control js-gfm-input", rows: 4

  .form-group
    .col-sm-2
    .col-sm-10
      %ul
        %li= t('.a_group_is_a_collection_of_several_projects')
        %li= t('.groups_are_private_by_default')
        %li= t('.members_of_a_group_may_only_view')
        %li= t('.group_project_urls_are_prefixed')
        %li= t('.existing_projects_may_be_moved_into_group')

  .form-actions
    = f.submit t('.create_group'), class: "btn btn-create"


