.side-filters.hidden-xs.hidden-sm
  = form_tag project_entities_path, method: 'get' do
    - if current_user
      %fieldset
        %ul.nav.nav-pills.nav-stacked
          %li{class: ("active" if params[:scope] == 'all')}
            = link_to project_filter_path(scope: 'all') do
              = t('everyones', scope: 'shared.filter')
          %li{class: ("active" if params[:scope] == 'assigned-to-me')}
            = link_to project_filter_path(scope: 'assigned-to-me') do
              = t('assigned_to_me', scope: 'shared.filter')
          %li{class: ("active" if params[:scope] == 'created-by-me')}
            = link_to project_filter_path(scope: 'created-by-me') do
              = t('created_by_me', scope: 'shared.filter')

    %fieldset
      %legend= t('state', scope: 'shared.filter')
      %ul.nav.nav-pills
        %li{class: ("active" if params[:state] == 'opened')}
          = link_to project_filter_path(state: 'opened') do
            = t('general.open')
        %li{class: ("active" if params[:state] == 'closed')}
          = link_to project_filter_path(state: 'closed') do
            = t('general.closed')
        %li{class: ("active" if params[:state] == 'all')}
          = link_to project_filter_path(state: 'all') do
            = t('general.all')

    - if defined?(labels)
      %fieldset
        %legend= t('general.labels')
        %ul.nav.nav-pills.nav-stacked.nav-small.labels-filter
          - issue_label_names.each do |label_name|
            %li{class: label_filter_class(label_name)}
              = link_to labels_filter_path(label_name) do
                %span{class: "label #{label_css_class(label_name)}"}
                  %i.icon-tag
                = label_name
                - if selected_label?(label_name)
                  .pull-right
                    %i.icon-remove

          - if issue_label_names.empty?
            .light-well
              = t('.add_first_label_to_your_issues')
              %br
              = raw t('.or_link_default_set_of_labels', link: link_to(t('.generate'), generate_project_labels_path(@project), method: :post))

    %fieldset
      - if %w(state scope milestone_id assignee_id label_name).select { |k| params[k].present? }.any?
        = link_to project_entities_path, class: 'cgray pull-right' do
          %i.icon-remove
          %strong= t('clear_filter', scope: 'shared.filter')


