.dropdown.inline.prepend-left-10
  %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
    %span.light #{t('sort', scope: 'public.projects.index')}:
    - if @sort.present?
      = t(@sort.parameterize.underscore, scope: 'public.projects.index')
    - else
      = t('newest', scope: 'public.projects.index')
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to project_filter_path(sort: 'newest') do
        = t('newest', scope: 'public.projects.index')
      = link_to project_filter_path(sort: 'oldest') do
        = t('oldest', scope: 'public.projects.index')
      = link_to project_filter_path(sort: 'recently_updated') do
        = t('recently_updated', scope: 'public.projects.index')
      = link_to project_filter_path(sort: 'last_updated') do
        = t('last_updated', scope: 'public.projects.index')
      = link_to project_filter_path(sort: 'milestone_due_soon') do
        = t('milestone_due_soon', scope: 'public.projects.index')
      = link_to project_filter_path(sort: 'milestone_due_later') do
        = t('milestone_due_later', scope: 'public.projects.index')
