= render 'nav'
%h3.page-title
  = @wiki.title.titleize
  = render 'main_links'
- if @wiki.historical?
  .warning_message
    = t('.this_is_an_old_version_of_this_page')
    = raw t('.you_can_view_the_link_or_browse', recent: link_to(t('.most_recent_version'), project_wiki_path(@project, @wiki)), history: link_to(t('.history'), history_project_wiki_path(@project, @wiki)))

%hr

.wiki-holder
  .wiki
    = preserve do
      = render_wiki_content(@wiki)

%hr

.wiki-last-edit-by
  = raw t('.last_edited_by', author: commit_author_link(@wiki.commit, avatar: true, size: 16), time: time_ago_with_tooltip(@wiki.commit.created_at))
