%h3.page-title
  = t('.notifications_settings')
%p.light
  = t('.gitlab_uses_the_email_specified_in_your_profile')
%hr
= form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications form-horizontal global-notifications-form' do
  = hidden_field_tag :notification_type, 'global'

  = label_tag :notification_level, t('.notification_level'), class: 'control-label'
  .col-sm-10
    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?, class: 'trigger-submit'
        .level-title
          = t('disabled', scope: 'general.notifications').titleize
        %p= t('.you_will_not_get_any_notifications')

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?, class: 'trigger-submit'
        .level-title
          = t('participating', scope: 'general.notifications').titleize
        %p= t('.you_will_only_receive_related_resources')

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?, class: 'trigger-submit'
        .level-title
          = t('watch', scope: 'general.notifications').titleize
        %p= t('.you_will_receive_from_all_projects')

.clearfix
  %hr
  %p
    = t('.you_can_also_specify_notification_level')
    %br
    = t('.by_default_all_projects_and_groups')
.row.all-notifications
  .col-md-6
    %h4 #{t('groups', scope: 'admin.dashboard.index')}:
    %ul.bordered-list
      - @users_groups.each do |users_group|
        - notification = Notification.new(users_group)
        = render 'settings', type: 'group', membership: users_group, notification: notification

  .col-md-6
    %h4 #{t('projects', scope: 'public.projects.index')}:
    %ul.bordered-list
      - @users_projects.each do |users_project|
        - notification = Notification.new(users_project)
        = render 'settings', type: 'project', membership: users_project, notification: notification
