%h3.page-title= @milestone.new_record? ? t('new_milestone', scope: 'projects.milestones.index') : "#{t('.edit_milestone')} ##{@milestone.iid}"
.back-link
  = link_to project_milestones_path(@project) do
    = raw t('.to_milestones')

%hr

= form_for [@project, @milestone], html: {class: "new_milestone form-horizontal"}  do |f|
  -if @milestone.errors.any?
    .alert.alert-danger
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :title, Milestone.human_attribute_name('title'), class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control"
          %p.hint= t('general.required')
      .form-group
        = f.label :description, Milestone.human_attribute_name('description'), class: "control-label"
        .col-sm-10
          = f.text_area :description, maxlength: 2000, class: "form-control", rows: 10
          %p.hint= raw t('.milestones_are_parsed_with', link: link_to(t('.gitlab_flavored_markdown'), help_markdown_path, target: '_blank'))
    .col-md-6
      .form-group
        = f.label :due_date, Milestone.human_attribute_name('due_date'), class: "control-label"
        .col-sm-10= f.hidden_field :due_date
        .col-sm-10
          .datepicker

  .form-actions
    - if @milestone.new_record?
      = f.submit t('.create_milestone'), class: "btn-create btn"
      = link_to t('general.cancel'), project_milestones_path(@project), class: "btn btn-cancel"
    -else
      = f.submit t('general.save_changes'), class: "btn-save btn"
      = link_to t('general.cancel'), project_milestone_path(@project, @milestone), class: "btn btn-cancel"


:javascript
  disableButtonIfEmptyField("#milestone_title", ".btn-save");
  $( ".datepicker" ).datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#milestone_due_date').val()));
