- group_users_count = @group.users_groups.count
.ui-box
  .title
    %strong #{@group.name}
    #{t('.group_members')} (#{group_users_count})
    .pull-right
      = link_to members_group_path(@group), class: 'btn btn-small' do
        %i.icon-edit
  %ul.well-list
    - @group.users_groups.order('group_access DESC').limit(20).each do |member|
      = render 'users_groups/users_group', member: member, show_controls: false
    - if group_users_count > 20
      %li
        = raw t('.and_group_users_count_more', group_users_count: group_users_count - 20, link_to: link_to(t('.group_members_page'), members_group_path(@group)))
