%h3.page-title
  = t('import_members_from_another_project', scope: 'projects.team_members.index')
%p.light
  = t('.only_project_members_will_be_imported')
%hr
= form_tag apply_import_project_team_members_path(@project), method: 'post', class: 'form-horizontal' do
  .form-group
    = label_tag :source_project_id, t('project', scope: 'projects.settings_nav'), class: 'control-label'
    .col-sm-10= select_tag(:source_project_id, options_from_collection_for_select(current_user.authorized_projects, :id, :name_with_namespace), prompt: t('.select_project'), class: "select2 lg", required: true)

  .form-actions
    = submit_tag t('.import_project_members'), class: "btn btn-create"
    = link_to t('general.cancel'), project_team_index_path(@project), class: "btn btn-cancel"

