%h3.page-title
  = t('.users_with_access_to_this_project')

  - if can? current_user, :admin_team_member, @project
    %span.pull-right
      = link_to new_project_team_member_path(@project), class: "btn btn-new btn-grouped", title: t('.new_project_member') do
        = t('.new_project_member')
      = link_to import_project_team_members_path(@project), class: "btn btn-grouped", title: t('.import_members_from_another_project') do
        = t('.import_members')

%p.light
  = t('.read_more_about_project_permissions')
  %strong= link_to t('general.here'), help_permissions_path, class: "vlink"
= render "team", members: @users_projects
- if @group
  = render "group_members"
