%h3.page-title= t('background_jobs', scope: 'admin.dashboard.index')
%p.light= raw t('.gitlab_uses_sidekiq_library', link: link_to("sidekiq", "http://sidekiq.org/"))

%hr

.ui-box
  .title= t('.sidekiq_running_processes')
  .body
    - if @sidekiq_processes.empty?
      %h4.cred
        %i.icon-warning-sign
        = t('.there_are_no_running_sidekiq_processes')
    - else
      %table.table
        %thead
          %th= t('.user')
          %th= t('.pid')
          %th= t('.cpu')
          %th= t('.mem')
          %th= t('.state')
          %th= t('.start')
          %th= t('.command')
        %tbody
          - @sidekiq_processes.each do |process|
            - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
            - data = process.strip.split(' ')
            %tr
              %td= Settings.gitlab.user
              - 5.times do
                %td= data.shift
              %td= data.join(' ')

      .clearfix
        %p
          %i.icon-exclamation-sign
          = t('.if_25_of_25_busy_is_shown')
        %p
          %i.icon-exclamation-sign
          = t('.if_more_than_one_sidekiq_process_is_listed', user: Settings.gitlab.user)



.ui-box
  %iframe{src: sidekiq_path, width: '100%', height: 900, style: "border: none"}
