%h3.page-title
  #{t('group', scope: 'groups.edit')}: #{@group.name}

  = link_to edit_admin_group_path(@group), class: "btn btn-small pull-right" do
    %i.icon-edit
    = t('general.edit')
%hr
.row
  .col-md-6
    .ui-box
      .title
        #{t('.group_info')}:
      %ul.well-list
        %li
          %span.light #{Group.human_attribute_name('name')}:
          %strong= @group.name
        %li
          %span.light #{Group.human_attribute_name('path')}:
          %strong
            = @group.path

        %li
          %span.light #{Group.human_attribute_name('description')}:
          %strong
            = @group.description

        %li
          %span.light #{t('created_on', scope: 'admin.projects.show')}:
          %strong
            = @group.created_at.stamp("March 1, 1999")

    .ui-box
      .title
        = t('projects', scope: 'public.projects.index')
        %small
          (#{@group.projects.count})
      %ul.well-list
        - @group.projects.sort_by(&:name).each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project]
              %span.label.label-gray
                = repository_size(project)
            %span.pull-right.light
              %span.monospace= project.path_with_namespace + ".git"

  .col-md-6
    .ui-box
      .title
        #{t('.add_users_to_the_group')}:
      .body.form-holder
        %p.light
          = t('read_more_about_project_permissions', scope: 'projects.team_members.index')
          %strong= link_to t('general.here'), help_permissions_path, class: "vlink"

        = form_tag project_teams_update_admin_group_path(@group), id: "new_team_member", class: "bulk_import", method: :put  do
          %div
            = users_select_tag(:user_ids, multiple: true)
          %div.prepend-top-10
            = select_tag :group_access, options_for_select(UsersGroup.group_access_roles), class: "project-access-select select2"
          %hr
          = submit_tag t('add_users_into_group', scope: 'groups.new_group_member'), class: "btn btn-create"
    .ui-box
      .title
        %strong #{@group.name}
        = t('group_members', scope: 'groups.members')
        %small
          (#{@group.users_groups.count})
      %ul.well-list.group-users-list
        - @group.users_groups.order('group_access DESC').each do |member|
          - user = member.user
          %li{class: dom_class(user)}
            %strong
              = link_to user.name, admin_user_path(user)
            %span.pull-right.light
              = member.human_access
              = link_to group_users_group_path(@group, member), data: { confirm: remove_user_from_group_message(@group, user) }, method: :delete, remote: true, class: "btn-tiny btn btn-remove", title: t('remove_user_from_group', scope: 'projects.team_members.users_group') do
                %i.icon-minus.icon-white
