%h3.page-title
  = t('.web_hooks')

%p.light
  #{link_to "#{t('.web_hooks')} ", help_web_hooks_path, class: "vlink"} #{t('.can_be_used_for_binding_events')}

%hr.clearfix

= form_for [@project, @hook], as: :hook, url: project_hooks_path(@project), html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, ProjectHook.human_attribute_name('url'), class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control", placeholder: t('.example_com_trigger_ci')
  .form-group
    = f.label :url, ProjectHook.human_attribute_name('trigger'), class: 'control-label'
    .col-sm-10
      %div
        = f.check_box :push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :push_events, class: 'list-label' do
            %strong= t('.push_events')
          %p.light
            = t('.this_url_will_be_triggered_by_a_push')
      %div
        = f.check_box :tag_push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :tag_push_events, class: 'list-label' do
            %strong= t('.tag_push_events')
          %p.light
            = t('.this_url_will_be_triggered_when_new_tag_pushed')
      %div
        = f.check_box :issues_events, class: 'pull-left'
        .prepend-left-20
          = f.label :issues_events, class: 'list-label' do
            %strong= t('.issues_events')
          %p.light
            = t('.this_url_will_be_triggered_when_issue_created')
      %div
        = f.check_box :merge_requests_events, class: 'pull-left'
        .prepend-left-20
          = f.label :merge_requests_events, class: 'list-label' do
            %strong= t('.merge_requests_events')
          %p.light
            = t('.this_url_will_be_triggered_when_merge_request_created')
  .form-actions
    = f.submit t('.add_web_hook'), class: "btn btn-create"

-if @hooks.any?
  .ui-box
    .title
      #{t('.web_hooks')} (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .pull-right
            = link_to t('.test_hook'), test_project_hook_path(@project, hook), class: "btn btn-small btn-grouped"
            = link_to t('general.remove'), project_hook_path(@project, hook), data: { confirm: t('general.are_you_sure') }, method: :delete, class: "btn btn-remove btn-small btn-grouped"
          .clearfix
            %span.monospace= hook.url
          %p
            - %w(push_events tag_push_events issues_events merge_requests_events).each do |trigger|
              - if hook.send(trigger)
                %span.label.label-gray= t(trigger, scope: 'projects.hooks.index').titleize
