!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        %center
          %h1 Repositorio Estatal de Software Libre
          %p.light
            = t('.gitlab_open_source_software')
            %br
            #{link_to t('.sign_in'), new_user_session_path} #{t('.or_browse_for')} #{link_to t('.public_projects'), public_projects_path}.
    %hr
    .container
      .content
        = yield
